<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
">
    
    <http access-denied-page="/login-error" use-expressions="true" entry-point-ref="authenticaionEntryPoint" 
                   xmlns="http://www.springframework.org/schema/security">
        <intercept-url pattern="/protected" access="isAuthenticated()" />
        <intercept-url pattern="/**" access="permitAll" />     
        <logout logout-url="/logout" logout-success-url="/"/>             
        <custom-filter before="FORM_LOGIN_FILTER" ref="scribeAuthenticationFilter"/>
    </http>
    
    
    <authentication-manager alias="authenticationManager" 
                                     xmlns="http://www.springframework.org/schema/security">
        <authentication-provider ref="scribeAuthenticationProvider"/>
    </authentication-manager>

    <bean id="authenticaionEntryPoint" 
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <property name="loginFormUrl" value="/" />
    </bean>
    
    <bean id="scribeAuthenticationProvider" 
          class="at.plechinger.spring.security.scribe.ScribeAuthenticationProvider"> 
        <property name="userDetailsService" ref="userService"/>
    </bean>
    
    <bean id="scribeAuthenticationFilter" 
          class="at.plechinger.spring.security.scribe.ScribeAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="authenticationSuccessHandler">
            <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
                <property name="defaultTargetUrl" value="/protected" />
                <property name="alwaysUseDefaultTargetUrl" value="true" />
            </bean>
        </property>
        <property name="authenticationFailureHandler">
            <bean class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
                <property name="defaultFailureUrl" value="/login-error" />
            </bean>
        </property>
        <property name="filterProcessesUrl" value="/login"/>
        <property name="providerConfigurations">
            <list>
                <bean class="at.plechinger.spring.security.scribe.provider.FacebookProviderConfiguration">
                    <property name="apiKey" value="1234567"/>
                    <property name="apiSecret" value="xxxxx" />
                    <!--Login URL ?method=fb (?method=<filterIdentifier) -->
                    <property name="filterIdentifier" value="fb" /> 
                    <!--prepend the username with-->
                    <property name="usernamePrefix" value="fb_user_" />
                </bean>
            </list>
        </property>
    </bean>


</beans>
